.offers {
  // .offers__icon

  &__icon {
    fill: var(--main-red-color);
  }

  // .offers__descr

  &__descr {
    font-weight: 600;
  }

  // .offers__content

  &__content {
  }

  // .offers__filters

  &__filters {
    list-style: none;
    padding: 0;
    margin: 0;
    @media (min-width: 769px) {
      display: flex;
      align-items: center;
    }
  }

  // .offers__filter

  &__filter {
    &:not(:last-child) {
      margin-right: 4rem;
      @media (max-width: 1024px) {
        margin-right: 1rem;
      }
      @media (max-width: 480px) {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
  // .offers__link

  &__link {
    cursor: pointer;
    border: none;
    padding: 0;
    text-decoration: underline;
    color: var(--main-blue-color);
    font-weight: 500;
    &:hover {
      text-decoration: none;
    }
    &.active {
      color: var(--main-purple-color);
    }
  }

  // .offers__articles

  &__articles {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
  }

  // .offers__article

  &__article {
    & + & {
      margin-top: 2rem;
    }
  }

  // .offers__pagination

  &__pagination {
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .offers__pagination-list

  &__pagination-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .offers__pagination-item

  &__pagination-item {
    &:not(:last-child) {
      margin-right: 0.625rem;
      @media (max-width: 768px) {
        margin-right: 0.25rem;
      }
    }
    &_desctop {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  // .offers__pagination-link

  &__pagination-link {
    text-decoration: none;
    min-height: 31px;
    min-width: 31px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--main-blue-color);
    background-color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.3125rem 1rem;
    border-radius: var(--small-radius);

    transition: background-color 0.15s ease transform 0.15s ease;

    @media (max-width: 768px) {
      padding: 0.3125rem 0.5rem;
    }

    &:not(.offers__pagination-link_active):hover {
      transform: scale(1.08);
      background-color: var(--landing-gray);
    }

    &:not(.offers__pagination-link_active):active {
      transform: scale(1.03);
      background-color: var(--landing-input-bg);
    }

    &_active {
      color: var(--white);
      background-color: var(--landing-title-border-color);
    }
  }

  // .offers__pagination-icon

  &__pagination-icon {
  }
}
