.statistics {
  // .statistics__wrapper

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 3rem;
    @media (max-width: 1440px) {
      gap: 1rem;
    }
    @media (max-width: 1280px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 480px) {
      margin-bottom: 40px;
      display: block;
    }
  }

  // .statistics__boxes

  &__boxes {
    @media (max-width: 480px) {
      margin-bottom: 1rem;
    }
    .statistics__box + .statistics__box {
      margin-top: 1rem;
    }
  }

  // .statistics__box

  &__box {
    padding: 1rem;
    background-color: var(--white);
    box-shadow: var(--card-light-shadow);
    border-radius: var(--default-radius);
  }
  // .statistics__item

  &__item {
    &_first {
      @media (max-width: 1280px) {
        order: -1;
      }
    }
    & + & {
      @media (max-width: 480px) {
        margin-top: 1rem;
      }
    }
  }

  // .statistics__head

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    &_border {
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: var(--1px) solid var(--gray);
    }
  }

  // .statistics__title

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }

  // .statistics__sub-title

  &__sub-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }

  // .statistics__select

  &__select {
  }

  // .statistics__balances

  &__balances {
    width: 100%;
    border-collapse: collapse;
    thead {
      th {
        font-size: var(--small-text-size);
        font-weight: 500;
        text-align: left;
      }
    }
    tbody {
      td {
        font-size: 1.25rem;
        font-weight: 500;
      }
    }
  }

  // .statistics__table

  &__table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    thead {
      tr {
        border-bottom: var(--1px) solid var(--gray);
        th {
          font-weight: 600;
          padding-bottom: 0.625rem;
        }
      }
    }
    tbody {
      td {
        padding-top: 1rem;
        font-weight: 500;
      }
    }
  }

  // .statistics__chart

  &__chart {
  }

  // .statistics__link

  &__link {
    width: 1.75rem;
    height: 1.75rem;
    flex-shrink: 0;
    &:hover {
      .statistics__svg {
        transform: rotate(180deg);
      }
    }
  }

  // .statistics__svg

  &__svg {
    display: block;
    fill: var(--main-blue-color);
    transition: transform 0.3s ease;
  }

  // .statistics__operations

  &__operations {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    thead {
      tr {
        border-bottom: var(--1px) solid var(--gray);
      }
      th {
        font-weight: 600;
        padding-bottom: 1rem;
        @media (max-width: 480px) {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
      }
    }
    tbody {
      td {
        font-size: var(--small-text-size);
        font-weight: 500;
        padding-top: 1rem;
        @media (max-width: 480px) {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
        &:first-child {
          white-space: nowrap;
        }
      }
    }
    th,
    td {
      @media (max-width: 480px) {
        white-space: nowrap;
      }
    }
  }

  // .statistics__auto-scroll

  &__auto-scroll {
    overflow: auto;
  }

  // .statistics__inputs

  &__inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 2rem;
    max-width: 87.5rem;
    @media (max-width: 1440px) {
      gap: 1rem;
    }
    @media (max-width: 1280px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  // .statistics__apply

  &__apply {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-column-start: 3;

    // .statistics__apply-button
    &-button {
      padding: 0.675rem 5rem;
      @media (max-width: 480px) {
        padding: 0.675rem 1rem;
        width: 100%;
      }
    }
  }

  // .statistics__info

  &__info {
    background-color: var(--white);
    border-radius: var(--default-radius);
    margin-top: 3rem;
    overflow-y: visible;
    overflow-x: auto;
    padding: 2rem 3rem;

    @media (max-width: 1440px) {
      padding: 1rem 1.5rem 1rem 1rem;
    }
    @media (max-width: 768px) {
      margin-top: 2rem;
    }
  }

  // .statistics__info-table

  &__info-table {
    width: 100%;
    border-collapse: collapse;
    font-size: var(--small-text-size);
    thead {
      th {
        text-align: left;
        border: var(--1px) solid var(--gray);
        padding: 0.675rem;

        font-weight: 600;
      }
    }
    tbody {
      tr {
        border-bottom: var(--1px) solid var(--gray);
      }
      td {
        position: relative;
        padding: 1rem 0.675rem;
        font-weight: 500;

        .new {
          position: absolute;
          right: -1rem;
          top: 50%;
          z-index: 1;
          transform: translateY(-50%);
          &:hover {
            .new__prompt {
              opacity: 1;
              visibility: visible;
            }
          }
          &__icon {
            display: block;
          }
          &__prompt {
            color: #34486c;
            position: absolute;
            right: 0;
            z-index: 1;
            width: 23rem;
            font-size: 0.75rem;
            box-shadow: 0 0.3125rem 1.25rem 0 #0000000d;
            border-radius: 1rem 0 1rem 1rem;
            background-color: white;
            padding: 1.5rem;
            opacity: 0;
            visibility: hidden;
            transform: translate(-4%, -20%);
            transition: opacity 0.3s ease, visibility 0.3s ease;
            margin-right: -0.1rem;
            a {
              color: inherit;
              display: block;
              font-size: 1rem;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
    td {
      @media (max-width: 1024px) {
        white-space: nowrap;
      }
    }
  }
}

.statistics-chart {
  // .statistics-chart__filters

  &__filters {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  // .statistics-chart__filter

  &__filter {
    color: var(--main-blue-color);
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: 600;
    padding: 0;
    padding-bottom: 0.8125rem;
    &:not(:last-child) {
      margin-right: 2rem;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0.1875rem;
      background-color: var(--main-blue-color);
    }
    &_active {
      color: var(--main-purple-color);
      &::before {
        background-color: var(--main-purple-color);
      }
    }
  }
}
